<link rel="stylesheet" href="~/css/Styles.css" type="text/css" media="all"> 

<img src='~/img/logo.png' alt="RecipeBox Logo" height="165px" width="165px" class="logo">
<h3>RecipeBox</h3>
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/recipes">My Recipe Box</a></li>
    <li role="presentation"><a href='/recipes/create'>Add New Recipe</a></li>
    <li role="presentation"><a href='/tags'>Recipe Tags</a></li>
    <li role="presentation"><a href='/tags/create'>Create New Tag</a></li>
  </ul>
