body
{
    width: 60%;
    /* text-align: left;
    align-content: left;
    align-self: left;
    text-decoration: none; */
    background-color: blueviolet;
    color: red;
}


h1
{
    color: plum;
}

